<section class="section">
  <div class="container is-desktop">
    <h1 class="title"> Editar punto de reciclaje </h1>
    <%= render partial: "form", locals: {recycle_point: @recycle_point, material_id: @material_id} %>
  </div>
</section>
