<div>
  <aside class="menu">
    <p class="menu-label"> Categorías </p>
    <% @categories.each do |category| %>
      <ul class="menu-list">
        <li> <a> <%= category.name %> </a> </li>
      </ul>
    <% end %>
  </aside>
</div>
