<aside class="menu">
  <p class="menu-label"> Materiales </p>
  <ul class="menu-list">
    <% @materials.each do |material| %>
      <li> <%= link_to material.name, material_path(material) %> </li>
    <% end %>
    <%= link_to "Nuevo material", new_material_path, class: "button is-small" %>
  </ul>
</aside>
