// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.materials-section {
  .container {
    display: flex;
    flex-wrap: wrap;

    .card {
      margin: 10px 20px;
      width: 260px;
      align-self: baseline;
    }
  }

  .material-action-button {
    width: 48%;
    margin: 0 1%;
  }
}
